@charset "UTF-8";

@import '../../../assets/scss/import';

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: solid 1px #ccc;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.text {
  margin: 0 0 0 15px;
}
