<form action="./" [formGroup]="form" (submit)="handleSubmit($event)">
  <p class="input-container">
    <label>タイトル</label>
    <input type="text" formControlName="title" placeholder="タイトル" required>
  </p>
  <div *ngIf="title.invalid && (title.dirty || title.touched)" class="errors">
    <p *ngIf="title.errors.required">タイトルは必須です。</p>
    <p *ngIf="title.errors.maxlength">タイトルは30文字までです。</p>
  </div>
  <p class="input-container">
    <label>時間</label>
    <input type="time" formControlName="time" required>
  </p>
  <div *ngIf="time.invalid && (time.dirty || time.touched)" class="errors">
    <p *ngIf="time.errors.required">時間は必須です。</p>
  </div>
  <p class="input-container">
    <label>内容</label>
    <input type="text" formControlName="description" placeholder="内容">
  </p>
  <p class="input-container">
    <button [disabled]="form.status === 'INVALID'">登録</button>
  </p>
</form>
